{% extends 'bar.html.twig' %}

{% block body %}
    <h1>Notes for {{ user.username }}</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Content</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ note.id }}</td>
                <td>{{ note.content }}</td>
                <td>
                    <a href="{{ path('admin_note_edit', {'id': note.id}) }}">Edit</a>
                    <form method="post" action="{{ path('admin_note_delete', {'id': note.id}) }}" style="display:inline-block">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.id) }}">
                        <button class="btn">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_note_new', {'userId': user.id}) }}">Create new note</a>
    <a href="{{ path('admin_profile') }}">Back to profile</a>
{% endblock %}
